body {
    background-color: lightskyblue;
}

div {
    color: white;
    width: 250px;
}

#container {
    border: 2px solid black;
}

#A {
    border: 1px solid red;
}

#B {
    border: 1px solid green;
}

#C {
    border: 1px solid yellow;
}